<div id="surveys">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="/img/dashboard.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="auto" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h2 class="display-6 fw-bold mb-3">Want to become a Dream Workplace?</h2>
                <p class="lead fw-bold">Take the world's most comprehensive employee survey or a customized and focused survey.</p>
                <p class="lead">As a CEO, CHRO, a team lead, or an HR team member, do you want to gain insights into your talent strategy and understand where you stand in various areas of talent management? Our surveys, based on our unique 4-dimensional framework and TIKs approach, provide in-depth understanding of the "what," "when," "why," and "how" of your talent's perceptions. Choose from our focused surveys, comprehensive surveys, or aspiration surveys, which cover every aspect of talent management. Elevate your talent strategies with our data-driven insights. </p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <a href ="/surveys"><button type="button" class="btn btn-primary btn px-4 me-md-2">Learn more</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
