<div id="surveys">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="/img/dashboard.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="auto" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h2 class="display-5 fw-bold lh-1 mb-3">Understand where your organization stands</h2>
                <p class="lead">From talent acquisition, to talent compensation, take our surveys to understand where you stand vis-a-vis your goals, peers, and industry leaders. A completely free set of surveys built for every aspect of talent engagement.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <a href ="surveys"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Start the surveys</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
