<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/header.ejs') %>
    <title>What is The Dream Workplace - About us!</title>
</head>

<body>
    <!-- Navigation bar -->
    <%- include ('partials/nav.ejs') %>

    <!--About Hero -->
    <div class="independent-hero about">
        <div class="container col-xxl-8 px-4 py-3">
            <div class="row flex-row align-items-center g-5 py-5">
                <div class="col-lg-8 col-sm-10">
                    <h2 class="col-lg-9 display-5 fw-bold lh-1 mb-4">Our mission</h2>
                    <p class="lead fw-bold">We are on a mission to make today's workplaces the way people dream them to be - engaging, fun, fair, and purpose-driven.</p>
                    <p class="lead">Many workplaces of today are frustrating, and full of despair. Employees work there because they have to. The leaders are not inspiring. The employees are waiting for the first available flight which can take them to a better life. We want to change that. Through examples, surveys, and sessions, we want to help employees and organizations together create the dream workplace.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="bootstrap-themes.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Responsive left-aligned hero with image</h1>
        <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
        </div>
      </div>
    </div>
  </div>

    <!--About Section -->
    <div class="example-coontainer">
        <div class="container col-xxl-8 px-4 py-3">
            <div class="row flex-row align-items-center g-5 py-5">
                <div class="col-lg-12 col-sm-10 mb-3 faq-holder">
                    <h4 class="col-lg-12 lh-1 mb-1 d-inline">What is The Dream Workplace?</h4>
                    <p class="lead mt-3">The Dream Workplace is a blog and platform for ideas and stories from the best workplaces across the world put together to educate and inspire employees across the world so that they can imbibe it in their workplaces so that every workplace becomes a dream workplace.</p>
                </div>
                <div class="col-lg-12 col-sm-10 mb-1 faq-holder">
                    <h4 class="col-lg-12 lh-1 mb-3 d-inline">What are the guiding principles of the TDW?</h4>
                    <p class="lead mt-3">At The Dream Workplace, we believe that we will stick to these principles, no matter what.</p>
                    <ol class="list-group list-group-flush list-group-numbered">
                        <li class="list-group-item lead">We are, and will always stay as a blog and a platform for ideas.</li>
                        <li class="list-group-item lead">We will not collect emails for any purpose</li>
                        <li class="list-group-item lead">We will not track your information in any case apart from the Google Analytics we have for understanding the number of visitors we have</li>
                        <li class="list-group-item lead">We will not spam your email with newsletters at any cost</li>
                        <li class="list-group-item lead">We will never put a paywall at any cost for any written content or blog</li>
                    </ol>
                </div>
                <div class="col-lg-12 col-sm-10 mb-1 faq-holder">
                    <h4 class="col-lg-12 lh-1 mb-3 d-inline">What are the services offered by The Dream Workplace?</h4>
                    <div class="col-lg-11 col-sm-12 my-3 pb-3 service-holder">
                        <h3 class="fw-bold">Assessments</h3>
                        <p class="lead mt-3 d-inline">From talent acquisition, to talent compensation, take our surveys to understand where you stand vis-a-vis your goals, peers, and industry leaders. A completely free set of surveys built for every aspect of talent engagement.</p>
                        <a href="surveys">Read more</a>
                    </div>
                    <div class="col-lg-11 col-sm-12 my-3 pb-3 service-holder">
                        <h3 class="fw-bold">Examples</h3>
                        <p class="lead mt-3 d-inline">With more than 500 examples, get inspired from the ones that matter to you, implement them in your workplace and create the dream workplace for your employees.</p>
                        <a href="examples">Read more</a>
                    </div>
                    <div class="col-lg-11 col-sm-12 my-3 pb-3 service-holder">
                        <h3 class="fw-bold">OKRs</h3>
                        <p class="lead mt-3 d-inline">The Dream Workplace is a blog and platform for ideas and stories from the best workplaces across the world put together to educate and inspire employees across the world so that they can imbibe it in their workplaces so that every workplace becomes a dream workplace. And remember, we are a blog, not a consulting company.</p>
                        <a href="okrs">Read more</a>
                    </div>
                    <div class="col-lg-11 col-sm-12 my-3 pb-3 service-holder">
                        <h3 class="fw-bold">Workshops</h3>
                        <p class="lead mt-3 d-inline">We would love to share our learnings with you through workshops with your teams. Reach out to us and we will be interested to give you a customized workshop based on your requirements. And it would be our pleasure to share our learnings and also earn from you.</p>
                        <a href="workshops">Read more</a>
                    </div>
                </div>
                <div class="col-lg-8 col-sm-10 mb-1 faq-holder">
                    <h4 class="col-lg-9 lh-1 mb-3 d-inline">Why don't you offer consulting services?</h4>
                    <p class="lead mt-3">While we would love to help an organization in their journey in becoming a dream workplace, it would not be right on our part to offer a consulting service when we are also offering an assessment service for every part of the organization. In an ideal world, it would mean that we have an inherent intention to make an organization look bad so that we can offer our consulting services. We do not believe in upselling or cross-selling.</p>
                </div>
            </div>
        </div>
    </div>

    <!--Surveys-->
    <%- include ('partials/survey.ejs') %>


    <!--Footer -->
    <%- include ('partials/footer.ejs') %>
</body>

</html>
