<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/header.ejs') %>

    <title>Aspiration Surveys - For the individual, manager, team, organization, and for growth</title>

</head>

<body>
    <!-- Navigation bar -->
    <%- include ('partials/nav.ejs') %>

    <!--Surveys Hero -->
    <div class="independent-hero">
        <div class="container col-xxl-8 px-4 py-4">
            <div class="row flex-row align-items-center g-5 py-4">
                <div class="col-lg-8 col-sm-10">
                    <h2 class="col-lg-12 display-6 fw-bold lh-1 mb-3">Aspiration Surveys - For the individual, manager, team, organization, and for growth</h2>
                    <p class="lead fw-bold">Understand the aspirations and feelings of your talent - for themselves, for their manager, and for their team</p>
                    <p class="lead">Do you want to know how your talent perceives their role in your organization, their manager, their team, and the organization itself? Choose from the set of four surveys to understand more about what your talent perceives and aspires for.</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <a href="#survey"><button type="button" class="btn btn-primary  px-4 me-md-2">See the surveys</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Survey Categories -->
    <div class="container py-3" id="survey">
        <div class="container">
            <header>
                <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                    <h2 class="display-4 fw-normal">The Aspiration Surveys</h2>
                    <p class="fs-5 text-muted">The aspiration surveys are simple surveys across 4 levels - the individual, the team, the manager, and the organization. Understand what your talent thinks about each of these in these short, quick surveys.</p>
                </div>
            </header>

            <main class="container row">
                <div class="row row-cols-1 row-cols-md-3 mb-3 text-center d-flex justify-content-center">
                    
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3">
                                <h4 class="my-0 fw-normal">Individual Surveys</h4>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title pricing-card-title"><small class="text-muted fw-light"> A quick survey to understand what your talent thinks about the necessities for any role</small></h3>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>30 Questions</li>
                                    <li>For all employees</li>
                                    <li>$1 per employee/survey</li>
                                    <li>Done every quarter</li>
                                    <li>2 Weeks</li>
                                </ul>
                                <a href="#comprehensive"><button type="button" class="w-100 btn  btn-primary">Learn More</button></a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3">
                                <h4 class="my-0 fw-normal">Manager Surveys</h4>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title pricing-card-title"><small class="text-muted fw-light"> A quick survey to understand what your talent thinks about their managers</small></h3>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>30 Questions</li>
                                    <li>For all employees</li>
                                    <li>$2 per employee/survey</li>
                                    <li>Done every six months</li>
                                    <li>2 Weeks</li>
                                </ul>
                                <a href="#comprehensive"><button type="button" class="w-100 btn  btn-primary">Learn More</button></a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3">
                                <h4 class="my-0 fw-normal">Team Surveys</h4>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title pricing-card-title"><small class="text-muted fw-light"> A quick survey to understand what your talent thinks about the team they work in</small></h3>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>25 Questions</li>
                                    <li>For all employees</li>
                                    <li>$2 per employee/survey</li>
                                    <li>Done every six months</li>
                                    <li>2 Weeks</li>
                                </ul>
                                <a href="#comprehensive"><button type="button" class="w-100 btn  btn-primary">Learn More</button></a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3">
                                <h4 class="my-0 fw-normal">Org Wide Surveys</h4>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title pricing-card-title"><small class="text-muted fw-light"> A quick pulse survey to understand what your talent thinks about your organization</small></h3>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>40 Questions</li>
                                    <li>For all employees</li>
                                    <li>$1 per employee/survey</li>
                                    <li>Done every quarter</li>
                                    <li>3 Weeks</li>
                                </ul>
                                <a href="#comprehensive"><button type="button" class="w-100 btn  btn-primary">Learn More</button></a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3">
                                <h4 class="my-0 fw-normal">Growth Surveys</h4>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title pricing-card-title"><small class="text-muted fw-light">A unique data driven survey to understand where your organization aspires it to be</small></h3>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>30 Questions</li>
                                    <li>For all employees</li>
                                    <li>$3 per employee/survey</li>
                                    <li>Done every six months</li>
                                    <li>2 Weeks</li>
                                </ul>
                                <a href="#comprehensive"><button type="button" class="w-100 btn  btn-primary">Learn More</button></a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </main>
        </div>

    </div>

    <!--Survey Differentiation -->
    <div style="border:1px solid #DDDDDD; background-color:#DDD" id="different">
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row align-items-center g-5 py-5">
                <div class="col-lg-8">
                    <h2 class="col-lg-12 display-5 fw-bold lh-1 mb-4">What makes our surveys different</h2>
                    <p class="lead fw-bold">Customized, comprehensive, curated - that is why.</p>
                    <p class="lead">We recognize that every organization has its unique culture, needs, and aspirations. That's why we've created the world's first curated and customized talent survey that comprehensively covers every practice area in the talent value chain, from onboarding to offboarding. With our survey, no aspect of talent management is overlooked. We take pride in offering a truly comprehensive and unparalleled approach that sets us apart from other surveys in the market.</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <a href="#comprehensive"><button type="button" class="btn btn-primary  px-4 me-md-2">Comprehensive Surveys</button></a>
                        <a href="#survey-details"><button type="button" class="btn btn-secondary  px-4 me-md-2">Focused Surveys</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Comprehensive Survey Section -->
    <div style="border:1px solid #DDDDDD" id="comprehensive">
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-5">
                    <img src="/img/survey.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="350" height="auto" loading="lazy">
                </div>
                <div class="col-lg-7">
                    <h2 class="col-lg-12 display-5 fw-bold lh-1 mb-4">The world's most comprehensive talent engagement survey</h2>
                    <p class="lead fw-bold">Measure everything from how your talent is engaged, to how you can meet their needs and aspirations</p>
                    <p class="lead">Experience the world's most comprehensive survey, designed to focus on the 12 essential themes we've identified for today's talent. Whether you're a CEO, CHRO, or team lead looking to understand engagement across your organization or team, our survey, powered by our TIKs approach, is perfect for you. Gain valuable insights and elevate your understanding of talent engagement.</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <a href="/surveyForm"><button type="button" class="btn btn-primary  px-4 me-md-2">I am interested...</button></a>
                        <a href="/pricing"><button type="button" class="btn btn-secondary  px-4 me-md-2">What's the cost?</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Footer -->
    <%- include ('partials/footer.ejs') %>
</body>

</html>
