<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/header.ejs') %>
    <title>Consulting engagements to execute the best talent plan</title>
</head>

<body>
    <!-- Navigation bar -->
    <%- include ('partials/nav.ejs') %>


    <!--Workshop Hero -->
    <div class="independent-hero">
        <div class="container col-xxl-8 px-4 py-3">
            <div class="row flex-row align-items-center g-5 py-3">
                <div class="col-lg-8 col-sm-10">
                    <h2 class="col-lg-9 display-5 fw-bold lh-1 mb-4">Create and execute the right engagement strategy through our consulting engagements</h2>
                    <p class="lead">We will help you define and execute the right talent and engagement strategy through our consulting engagements that includes a 3-month assessment and strategy definition, and a 6 month execution support</p>
                </div>
            </div>
        </div>
    </div>

    <!--Workshop Content -->
    <div class="example-coontainer">
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-row align-items-top g-5 py-3">
                <h4 class="col-lg-9 mb-1 d-inline">How do we do that?</h4>
                <p class="lead mt-1 d-inline">Send us a mail at <a href="mailto:contactus@thedreamworkplace.com">contactus@thedreamworkplace.com</a>. Do not forget to include the following details - your organization name, the number of employees in your organization, and the kind of employee engagement that you want to drive - and we will get back to you. After that, we can discuss and collaborate to create an approach that will suit you the best. And we will work with you to define and execute the consulting that can help you drive talent strategy and engagement in the right way.</p>
                <h4 class="col-lg-9  mb-1 d-inline">How long will it take?</h4>
                <p class="lead mt-1 d-inline">The normal consulting engagement takes 3 months of initial planning, and 6 months of hand-holding. Our people will work with you on an ongoing basis to help you define the right approach and work with you to execute that.</p>
                <h4 class="col-lg-9  mb-1 d-inline">Will you provide ongoing support?</h4>
                <p class="lead mt-1 d-inline">Yes, the six month phase is defined so that we can provide you with ongoing support to help you execute.</p>
                <h4 class="col-lg-9  mb-1 d-inline">Which all areas can you help out when it comes to talent strategy and engagement?</h4>
                <p class="lead mt-1 d-inline">We will help you write out the right strategy across all areas of talent - from talent acquisition, to onboarding, to talent engagement, to retention and beyond. Take a look at the different <a href="areas">areas</a> to understand the different areas in which we can provide support.</p>
            </div>
        </div>
    </div>
    
    <!--Surveys-->
    <%- include ('partials/survey.ejs') %>

    <!--Footer -->
    <%- include ('partials/footer.ejs') %>
</body>

</html>
