<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/header.ejs') %>

    <title>Simple Transparent Pricing</title>

</head>

<body>
    <!-- Navigation bar -->
    <%- include ('partials/nav.ejs') %>

    <!--Surveys Hero -->
    <div class="independent-hero">
        <div class="container col-xxl-8 px-4 py-4">
            <div class="row flex-row justify-content-center g-5 py-4">
                <div class="col-lg-6 col-sm-12 text-center">
                    <h2 class="col-lg-12 display-6 fw-bold lh-1 mb-3">Simple, Straightforward, Transparent Pricing</h2>
                    <p class="lead">Select your team size (if you are doing for a team) or organization size (if you are doing for an organization)</p>
                    <div class="d-grid gap-2 mb-3 d-flex justify-content-center">
                        <a href="#5to50"><button type="button" class="btn btn-outline-secondary px-4">5 - 50</button></a>
                        <a href="#50to200"><button type="button" class="btn btn-outline-secondary  px-4">50 - 200</button></a>
                        <a href="#200+"><button type="button" class="btn btn-outline-secondary  px-4">> 200</button></a>
                    </div>
                    <div class="d-grid gap-2 d-flex justify-content-center">
                        <a href="#workshops"><button type="button" class="btn btn-outline-secondary px-4">Workshops</button></a>
                        <a href="#workshops"><button type="button" class="btn btn-outline-secondary  px-4">Consulting</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Survey 5 to 50 -->
    <div class="container py-3" id="5to50">
        <div class="container">
            <header>
                <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                    <h2 class="display-4 fw-normal">5 to 50 people</h2>
                    <p class="fs-5 text-muted">We offer three surveys - the world's most comprehensive survey, focused surveys that measure the strength of each area of talent, and aspiration surveys that tell you more about the needs of your talent.</p>
                </div>
            </header>

            <main class="container row">
                <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3">
                                <h4 class="my-0 fw-normal">Comprehensive Survey</h4>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title pricing-card-title"><small class="text-muted fw-light">$29 for 1 year</small></h3>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>Customized to your needs</li>
                                    <li>Done for all employees</li>
                                    <li>Timeline: 2 Weeks</li>
                                    <li>Upto 4 surveys in 1 year</li>
                                </ul>
                                <a href="#comprehensive"><button type="button" class="w-100 btn  btn-primary">Reach out</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3">
                                <h4 class="my-0 fw-normal">Focused Surveys</h4>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title pricing-card-title"><small class="text-muted fw-light">$9 for 1 year/category</small></h3>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>For the 20+ areas</li>
                                    <li>Done for focused audience</li>
                                    <li>Timeline : 1-2 Weeks</li>
                                    <li>Upto 2 surveys in 1 year per category</li>
                                </ul>
                                <a href="#survey-details"><button type="button" class="w-100 btn  btn-primary">Reach out</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm ">
                            <div class="card-header py-3">
                                <h4 class="my-0 fw-normal">Aspiration Surveys</h4>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title pricing-card-title"><small class="text-muted fw-light">Pay as you wish</small></h3>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>For the talent aspirations</li>
                                    <li>All or focused audience</li>
                                    <li>Timeline : 1-2 Weeks</li>
                                    <li>Upto 2 surveys in 1 year per category</li>
                                </ul>
                                <a href="#aspiration"><button type="button" class="w-100 btn  btn-primary">Learn more</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    
    <!-- Survey 50 to 200 -->
    <div class="container py-3" id="50to200">
        <div class="container">
            <header>
                <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                    <h2 class="display-4 fw-normal">50 to 200 people</h2>
                    <p class="fs-5 text-muted">We offer three surveys - the world's most comprehensive survey, focused surveys that measure the strength of each area of talent, and aspiration surveys that tell you more about the needs of your talent.</p>
                </div>
            </header>

            <main class="container row">
                <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3">
                                <h4 class="my-0 fw-normal">Comprehensive Survey</h4>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title pricing-card-title"><small class="text-muted fw-light">$99 for 1 year</small></h3>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>Customized to your needs</li>
                                    <li>Done for all employees</li>
                                    <li>Timeline: 2 Weeks</li>
                                    <li>Upto 4 surveys in 1 year</li>
                                </ul>
                                <a href="#comprehensive"><button type="button" class="w-100 btn  btn-primary">Reach out</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3">
                                <h4 class="my-0 fw-normal">Focused Surveys</h4>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title pricing-card-title"><small class="text-muted fw-light">$29 for 1 year/category</small></h3>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>For the 20+ areas</li>
                                    <li>Done for focused audience</li>
                                    <li>Timeline : 1-2 Weeks</li>
                                    <li>Upto 2 surveys in 1 year per category</li>
                                </ul>
                                <a href="#survey-details"><button type="button" class="w-100 btn  btn-primary">Reach out</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm ">
                            <div class="card-header py-3">
                                <h4 class="my-0 fw-normal">Aspiration Surveys</h4>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title pricing-card-title"><small class="text-muted fw-light">Pay as you wish</small></h3>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>For the talent aspirations</li>
                                    <li>All or focused audience</li>
                                    <li>Timeline : 1-2 Weeks</li>
                                    <li>Upto 2 surveys in 1 year per category</li>
                                </ul>
                                <a href="#aspiration"><button type="button" class="w-100 btn  btn-primary">Learn more</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    
    
    <!-- More than 200 -->
    <div class="container py-3" id="200+">
        <div class="container">
            <header>
                <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                    <h2 class="display-4 fw-normal">More than 200 people</h2>
                    <p class="fs-5 text-muted">We offer three surveys - the world's most comprehensive survey, focused surveys that measure the strength of each area of talent, and aspiration surveys that tell you more about the needs of your talent.</p>
                </div>
            </header>

            <main class="container row">
                <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3">
                                <h4 class="my-0 fw-normal">Comprehensive Survey</h4>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title pricing-card-title"><small class="text-muted fw-light">$99++ for 1 year</small></h3>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li><b>++ $2 per additional resource</b></li>
                                    <li>Customized to your needs</li>
                                    <li>Done for all employees</li>
                                    <li>Timeline: 2 Weeks</li>
                                    <li>1st Survey Free, Full refund after that</li>
                                    <li>Upto 4 surveys in 1 year</li>
                                </ul>
                                <a href="#comprehensive"><button type="button" class="w-100 btn  btn-primary">Reach out</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3">
                                <h4 class="my-0 fw-normal">Focused Surveys</h4>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title pricing-card-title"><small class="text-muted fw-light">$29++ for 1 year/category</small></h3>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li><b>++ $2 per additional resource</b></li>
                                    <li>For the 20+ areas</li>
                                    <li>Done for focused audience</li>
                                    <li>Timeline : 1-2 Weeks</li>
                                    <li>1st Survey Free, Full refund after that</li>
                                    <li>Upto 2 surveys in 1 year per category</li>
                                </ul>
                                <a href="#survey-details"><button type="button" class="w-100 btn  btn-primary">Reach out</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm ">
                            <div class="card-header py-3">
                                <h4 class="my-0 fw-normal">Aspiration Surveys</h4>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title pricing-card-title"><small class="text-muted fw-light">Pay as you wish</small></h3>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>Decide what you want to pay</li>
                                    <li>For the talent aspirations</li>
                                    <li>All or focused audience</li>
                                    <li>Timeline : 1-2 Weeks</li>
                                    <li>1st Survey Free, Full refund after that</li>
                                    <li>Upto 2 surveys in 1 year per category</li>
                                </ul>
                                <a href="#aspiration"><button type="button" class="w-100 btn  btn-primary">Learn more</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    
    <!-- Workshops and Consulting Engagements -->
    <div class="container py-3" id="workshops">
        <div class="container">
            <header>
                <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                    <h2 class="display-4 fw-normal">Workshops and Consulting Engagements</h2>
                    <p class="fs-5 text-muted">Our workshops and consulting engagements are uniquely customized to your needs and the prices start from $499 to $4,999. Reach out to us <a href="mailto:contactus@thedreamworkplace.com">contactus@thedreamworkplace.com</a> for further details</p>
                </div>
            </header>
             <main class="container row">
                <div class="row row-cols-1 row-cols-md-3 mb-3 text-center d-flex justify-content-center">
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3">
                                <h4 class="my-0 fw-normal">Workshops</h4>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title pricing-card-title"><small class="text-muted fw-light">$499 onwards</small></h3>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>Customized to your needs</li>
                                    <li>Done for identified employees</li>
                                    <li>Timeline: 2 Weeks</li>
                                    <li>1 workshop</li>
                                </ul>
                                <a href="/contact"><button type="button" class="w-100 btn  btn-primary">Reach out</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3">
                                <h4 class="my-0 fw-normal">Consulting Engagements</h4>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title pricing-card-title"><small class="text-muted fw-light">$999 onwards</small></h3>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>Customized to your needs</li>
                                    <li>Done for focused audience</li>
                                    <li>Timeline : 3 + 6 months</li>
                                    <li>Includes the survey package too</li>
                                </ul>
                                <a href="/contact"><button type="button" class="w-100 btn  btn-primary">Reach out</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    
    <!--Survey Differentiation -->
    <div style="border:1px solid #DDDDDD; background-color:#DDD" id="different">
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row align-items-center g-5 py-5">
                <div class="col-lg-8">
                    <h2 class="col-lg-12 display-5 fw-bold lh-1 mb-4">What makes our surveys different</h2>
                    <p class="lead fw-bold">Customized, comprehensive, curated - that is why.</p>
                    <p class="lead">We recognize that every organization has its unique culture, needs, and aspirations. That's why we've created the world's first curated and customized talent survey that comprehensively covers every practice area in the talent value chain, from onboarding to offboarding. With our survey, no aspect of talent management is overlooked. We take pride in offering a truly comprehensive and unparalleled approach that sets us apart from other surveys in the market.</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <a href="#comprehensive"><button type="button" class="btn btn-primary  px-4 me-md-2">Comprehensive Surveys</button></a>
                        <a href="/surveys"><button type="button" class="btn btn-secondary  px-4 me-md-2">Learn more</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Comprehensive Survey Section -->
    <div style="border:1px solid #DDDDDD" id="comprehensive">
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-5">
                    <img src="/img/survey.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="350" height="auto" loading="lazy">
                </div>
                <div class="col-lg-7">
                    <h2 class="col-lg-12 display-5 fw-bold lh-1 mb-4">The world's most comprehensive talent engagement survey</h2>
                    <p class="lead fw-bold">Measure everything from how your talent is engaged, to how you can meet their needs and aspirations</p>
                    <p class="lead">Experience the world's most comprehensive survey, designed to focus on the 12 essential themes we've identified for today's talent. Whether you're a CEO, CHRO, or team lead looking to understand engagement across your organization or team, our survey, powered by our TIKs approach, is perfect for you. Gain valuable insights and elevate your understanding of talent engagement.</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <a href="/surveyForm"><button type="button" class="btn btn-primary  px-4 me-md-2">I am interested...</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--Aspiration Surveys -->
    <div style="border:1px solid #DDDDDD" id="aspiration">
        <div class="container col-xxl-8 px-4 py-4">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-5">
                    <img src="/img/aspiration.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="350" height="auto" loading="lazy">
                </div>
                <div class="col-lg-7">
                    <h2 class="col-lg-12 display-5 fw-bold lh-1 mb-4">Aspiration Surveys</h2>
                    <p class="lead fw-bold">Understand the aspirations and needs of your employees</p>
                    <p class="lead">Whether you're a CEO of a large organization or a team lead of a small team, understanding the aspirations of your organization or team is crucial. Our aspiration surveys, the world's first of their kind, are designed with you in mind. Backed by our 4-dimensional approach, which considers multiple perspectives and views, our surveys reveal what your talent truly thinks about leadership and their growth aspirations. Gain invaluable insights to shape your leadership strategies and empower your talent.</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <a href="/surveys"><button type="button" class="btn btn-primary  px-4 me-md-2">I am interested</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Footer -->
    <%- include ('partials/footer.ejs') %>
</body>

</html>
