<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/header.ejs') %>

    <title>The Services We Offer</title>

</head>

<body>
    <!-- Navigation bar -->
    <%- include ('partials/nav.ejs') %>

    <!--Examples Hero -->
    <div class="independent-hero">
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-row align-items-center g-5 py-5">
                <div class="col-lg-8 col-sm-10">
                    <h2 class="col-lg-9 display-5 fw-bold lh-1 mb-3">Our Services</h2>
                    <p class="lead">With more than 500 examples, get inspired from the ones that matter to you, implement them in your workplace and create the dream workplace for your employees. See all our examples at once, or find the one in line with the theme that you are looking for.</p>
                </div>
            </div>
        </div>
    </div>

    <!--Examples Section -->
    <div class="example-coontainer">
        <div class="container col-xxl-8 px-4 py-3">
            <div class="row flex-row align-items-top g-5 py-5">
                <!-- All Examples -->
                <div class="col-lg-6 col-sm-10  trend-holder">
                    <div class="col-lg-11 col-sm-12 my-3 py-3 px-3 service-holder">
                        <h3 style="color:#E14D2A;" class="fw-bold">Assessments</h3>
                        <p class="lead mt-3 d-inline">From talent acquisition, to talent compensation, take our surveys to understand where you stand vis-a-vis your goals, peers, and industry leaders. A completely free set of surveys built for every aspect of talent engagement.</p>
                        <a href="surveys">Read more</a>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-10 trend-holder">
                    <div class="col-lg-11 col-sm-12 my-3 py-3 px-3 service-holder">
                        <h3 style="color:#E14D2A;" class="fw-bold">Examples</h3>
                        <p class="lead mt-3 d-inline">With more than 500 examples, get inspired from the ones that matter to you, implement them in your workplace and create the dream workplace for your employees. Feel free to implement them in your organization. </p>
                        <a href="examples">Read more</a>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-10  trend-holder">
                    <div class="col-lg-11 col-sm-12 my-3 py-3 px-3 service-holder">
                        <h3 style="color:#E14D2A;" class="fw-bold">Resumes</h3>
                        <p class="lead mt-3 d-inline">We want to help you in your journey to find the right workplace for you that is your dreamworkplace. Give us your resume and we will make it better for you - aesthetically and functionally. Trust us to make your resumes to stand out.</p>
                        <a href="resumes">Read more</a>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-10  trend-holder">
                    <div class="col-lg-11 col-sm-12 my-3 py-3 px-3 service-holder">
                        <h3 style="color:#E14D2A;" class="fw-bold">OKRs</h3>
                        <p class="lead mt-3 d-inline">We will help you set up your OKRs that will help you create a dream workplace. We will work with your leaders and teams to build meaningful and practical OKRs that you can track to closure and ensure that you go forward.</p>
                        <a href="okrs">Read more</a>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-10  trend-holder">
                    <div class="col-lg-11 col-sm-12 my-3 py-3 px-3 service-holder">
                        <h3 style="color:#E14D2A;" class="fw-bold">Workshops</h3>
                        <p class="lead mt-3 d-inline">We would love to share our learnings with you through workshops with your teams. Reach out to us and we will be interested to give you a customized workshop based on your requirements. And it would be our pleasure to share our learnings and also earn from you.</p>
                        <a href="workshops">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Surveys-->
    <%- include ('partials/survey.ejs') %>


    <!--Footer -->
    <%- include ('partials/footer.ejs') %>
</body>

</html>
